body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  min-height: 100vh; /* Ensure the body takes up the full viewport height */
}

/* Add a wrapper for the content */
.wrapper {
  width: 100vw; /* Fixed width */
  background-color: black; /* Add a different background color if needed */
  display: flex;
  flex-direction: column; /* This keeps content stacked vertically */
}

