.title {
    padding-top: 20px;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 70vh;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.answerGroup {
    display: flex;
    background-color: rgb(78, 76, 76);
    border-radius: 8px;
    align-items: center;
    height: 60px;
    width: 90%;
}

.text {
    margin-left: 8px;
    font-size: 20px;
    color: white;
}

.submit{
    color: white
}