.title {
    color: blue;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 40px;
    color: white;
}

.text {
    display: grid;
    align-items:center ;
    background-color: rgb(78, 76, 76);
    color: aqua;
    padding: 5%;
}